body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  font-family: sans-serif;
  gap: 24px;
}

.container {
  display: flex;
  margin-top: 20px;
  height: 500px;
  width: 92%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  gap: 24px;
}

#latex-render {
  border: 0px solid #555;
  padding: 2px 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease;
  overflow: auto;
  position: relative;
}

#latex-code {
  width: 90%;
  height: 200px;
  border-radius: 8px;
  outline: none;
  resize: none;
  border: 1px solid #555;
  padding: 10px;
  font-family: monospace;
  background-color: #222;
  color: #ccc;
}

.controls {
  display: flex;
  gap: 8px;
  padding: 0 30px;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;
}

.dev {
  text-align: center;
  color: #555;
  margin-top: -12px;
}
